body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
}

#schedule {
    margin-top: 20px;
}

.match {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.match:last-child {
    border-bottom: none;
}
